body {
	overflow-y: auto;
	padding-left: 40px;
	padding-top: 40px;
}

input {
	margin-bottom: 20px;
}

button {
	margin-bottom: 20px;
}

#page-lobby{
	display: none;
}

#page-game {
	display: none;
}

.circle {
	background-color: green;
	width: 30px;
	height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
}

.circle.offline {
	background-color: yellow;
}
